* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans';
}
.first-section {
    position: relative;
    background: none; 
    height: 100vh;
}

.first-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/assets/wedding-cake-5373757_1920.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    filter: brightness(50%);
    z-index: -1; 
}

.header-nav-items {
    width: 25vw;
}

.header-nav-items a {
    font-size: 12px;
    text-decoration: none;
    color: #f1faee;
}

.header-container {
    padding-top: 1.5rem;
}

.header-container h2 {
    color: #f1faee;
}

.section-text {
    height: 80%;
}

.section-text h1, p {
    color: #f1faee;
}

.section-text h1 {
    letter-spacing: 5px;
}

.section-text p {
    font-size: 1rem;
}

.section-text h1 {
    font-weight: 900;
    font-size: 5rem;
}

span {
    color: #f7063e;
}

.second-section {
    height: 95vh;
}

.second-text {
    color: rgb(77, 75, 75);
    text-align: center;
}

.second-section {
    width: 60vw;
}

.second-section-image {
    background: url(/assets/cake-pop-6083189_1920.jpg)no-repeat;
    background-size: cover;
    height: 25vh;
}

.third-section {
    height: 100vh;
    position: relative;
    background: none; 
}   

.third-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/assets/wedding-cake-5373745_1920.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;  
    z-index: -1;
    filter: brightness(50%);
}

.third-section-text {
    text-align: center;
}

.third-text-title {
    color: #f1faee;
    font-weight: 900;
    font-size: 5rem;
}

.fourth-section {
    height: 100vh;
    width: 75vw;
}

.image-flex img {
    width: 16vw;
    height: 40vh;
}

.text-grid {
    display: grid;
    grid-template-columns: 32vw 32vw;
    gap: 1rem;
}

.text-grid-text {
    color: black;
    text-align: justify;
}

.footer-section {
    height: 100vh;
    background-color: black;
}

.footer-first-flex {
    text-align: center;
}

.footer-last-flex {
    display: flex;
    justify-content: space-between;
}

.footer-left {
    text-align: left;
}

.footer-right {
    text-align: right;
}