* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}


.first-section {
    position: relative;
    background: none; 
    height: 100vh;
}

.first-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../assets/wedding-cake-5373757_1920.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    filter: brightness(50%);
    z-index: -1; 
}

.active {
    opacity: .6;
}

.white {
    color: #f1faee;
}

.header-nav-items {
    width: 25vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-nav-items a {
    font-size: 12px;
    text-decoration: none;
    color: #f1faee;
}

.header-container {
    padding-top: 1.5rem;
    position: relative;
}

.header-container h2 {
    color: #f1faee;
    margin-bottom: 0;
    margin-top: 0.5rem;
}

.section-text {
    height: 80%;
}

.section-text h1, p {
    color: #f1faee;
}

.section-text h1 {
    letter-spacing: 5px;
}

.home-section-subtext {
    font-size: 1.3rem;
    text-align: center;
}

.section-text h1 {
    font-weight: 900;
    font-size: 5rem;
}

span {
    color: #f7063e;
}

.second-section {
    height: 95vh;
}

.second-text {
    color: rgb(77, 75, 75);
    text-align: center;
    word-spacing: 0.3rem;
}

.second-section {
    width: 60vw;
}

.second-section-image {
    background: url(../assets/cake-pop-6083189_1920.jpg)no-repeat;
    background-size: cover;
    height: 25vh;
}

.third-section {
    height: 100vh;
    position: relative;
    background: none; 
}   

.third-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../assets/wedding-cake-5373745_1920.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;  
    z-index: -1;
    filter: brightness(50%);
}

.third-section-text {
    text-align: center;
}

.third-text-title {
    color: #f1faee;
    font-weight: 900;
    font-size: 5rem;
}

.fourth-section {
    height: 80vh;
    width: 75vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.image-flex {
    height: auto; /* Allow the height to adjust automatically */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Automatically fit columns */
    gap: 10px; /* Adds some space between images */
    justify-content: center;
}

.image-flex img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures images fill the container without distortion */
}

.featured-images {
    height: auto; /* Allow the height to adjust automatically */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Automatically fit columns */
    gap: 10px; /* Adds some space between images */
    justify-content: center;
}

.featured-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.featured-persections {
    height: auto; /* Allow the height to adjust automatically */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Automatically fit columns */
    gap: 10px; /* Adds some space between images */
    justify-content: center;
}

.featured-persections img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}




.text-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Automatically fit columns */
    gap: 1rem;
    margin-top: 0.9rem;
}

.text-grid-text {
    color: rgb(77, 75, 75);
    text-align: justify;
    word-spacing: 0.3rem;
}

.footer-section {
    height: auto;
    background-color: #1c1c25;
    padding-bottom: 5vh;
}

.footer-first-flex {
    text-align: center;
}
.footer-first-flex button {
    padding: 0.5rem 1.5rem;
    background-color: #f7063e;
    border: none;
    cursor: pointer;
    color: #f1faee;
    margin-bottom: 1rem;
    font-weight: 500;
    letter-spacing: 2px;
    
}

.footer-last-flex {
    display: flex;
    justify-content: space-between;
}

.footer-left {
    text-align: left;
}

.footer-right {
    text-align: right;
}

.footer-title {
    color: #f1faee;
    font-size: 2.5rem;
}

.footer-last-title {
    color: #f1faee;
}

.menu-first-section {
    position: relative;
    background: none;
    height: 100vh;
}

.menu-first-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../assets/pastry-7030039_1920.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    filter: brightness(50%);
    z-index: -1;
}

.text-flex {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: justify;
    border-bottom: 1px solid rgba(28, 28, 37, 0.5);
}

.text-flex p {
    color: rgb(77, 75, 75);
}

.menu-second-section {
    height: 80vh;
}

.menu-second-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu-cake-section {
    text-align: center;
    color: #1c1c25;
    width: 65vw;
    padding: 0;
}

.product-serving {
    display: flex;
    justify-content: space-around;

}

.product-serving p {
    color: #1c1c25;
    font-weight: 700;
    word-spacing: 0.3rem;
}

.product-availability p {
    color: #1c1c25;
}

.product-list div {
    text-align: left;
    word-spacing: 0.3rem;
}

.product-list h5 {
    font-size: 0.9rem;
    font-weight: 800;
}

.product-list p {
    font-size: 0.9rem;
}

.product-list h5, p {
    color: #1c1c25;
}

.menu-cake-section {
    border-bottom: 1px solid rgba(28, 28, 37, 0.5);
}

.word-spacing-class {
    word-spacing: 0.3rem;
}

/* contact section */
.contact-first-section {
    position: relative;
    background: none;
    height: 100vh;
}

.contact-first-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url(../assets/people-2595757_1920.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    filter: brightness(50%);
    z-index: -1;
}

.contact-maploc-section {
    height: 100vh;
}

.set-width {
    width: 65vw;
    padding: 0;
    color: #1c1c25;
    text-align: center;
}

iframe {
    width: 100%;
}

.contact-us-section {
    width: 65vw;
    padding: 0;
}

.contact-text-section h5 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.5rem;
}

.contact-text-spacing {
    word-spacing: 0.3rem;
    
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.icon {
    display: none;
}
.burger {
    font-size: 1.5rem;
}

.toggle a {
    margin-top: 0.4rem;
    font-size: 12px;
    text-decoration: none;
    color: #f1faee;
}

.toggle {
    position: absolute;  
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.4s ease-in-out, height 0.4s ease-in-out;
}
.show {
    opacity: 1;
    height: auto;
}

/* .container {
    border: 1px solid red;
} */

/* responsiveness */

@media screen and (max-width: 1279px) {
    .featured-persections {
        grid-template-columns: 50% 50%;
        gap: 0.1rem;
    }
}
@media screen and (max-width: 1138px) {
    .image-flex {
        grid-template-columns: 50% 50%;
    }
    .fourth-section{
        height: auto;
    }
    .menu-second-section {
        height: auto;
    }
}
@media screen and (max-width: 990px) {
    .section-text h1 {
        font-size: 4rem;
    }
    .second-text {
        font-size: 0.9rem;
    }

    .second-text-title {
        font-size: 1.5rem;
    }

    .text-grid-text {
        font-size: 0.9rem;
    }
    .image-flex {
        grid-template-columns: 1fr;
        grid-template-rows:repeat(4, 30vh);
    }
    .featured-images {
        grid-template-columns: 1fr;
        grid-template-rows:repeat(4, 30vh);
    }

    .text-grid {
        grid-template-columns: 1fr;

    }
    .header-nav-items a {
        display: none;
    }
    .header-nav-items a.icon{
        display: flex;
    }
    .header-nav-items {
        justify-content: end;
    }

    /* footer */
    .footer-title {
        font-size: 1.3rem;
    }
    .footer-first-flex p {
        font-size: 0.9rem;
    }

    .footer-last-title {
        font-size: 1.3rem;
    }

    .footer-left p {
        font-size: .9rem;
    }

    .footer-right p {
        font-size: .9rem;
    }

    .footer-first-flex button {
        padding: 0.2rem 1rem;
        font-size: 1rem;
    }

    /* menu section */
    .text-flex p {
        font-size: 0.9rem;
    }
    .product-serving {
        flex-direction: column;
    }
    .product-serving p {
        font-size: 0.9rem;
    }
    b, strong {
        font-size: 0.9rem;
    }
    .product-availability p {
        font-size: 0.9rem;
    }
    .text-flex {
        text-align: center;
       }
    /* CONTACT SECTION */
    

}

@media screen and (max-width: 767px) {
    .section-text h1 {
        font-size: 2.5rem;
    }
    .section-title {
        font-size: 2.5rem;
    }
   .home-section-subtext{
    font-size: 1rem;
   }

   /* MENU SECTION */
   .featured-images {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 30vh);
   }

   .featured-persections {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 30vh);
   }
   .text-flex {
    text-align: justify;
   }
   .contact-text-section h5 {
    font-size: 1rem;
   }
   .contact-text-section p {
    font-size: 0.9rem;
   }
   
}

/* @media screen and (min-width: 766px) and (max-width: 592px){
    .section-text h1 {
        font-size: 2.5rem;
}
    .section-title {
        font-size: 2.5rem;
    }
    .home-section-subtext{
        font-size: 0.9rem;
    }
} */

@media screen and (max-width: 575px) {
    .second-section{
        width: auto;
    }
    .second-text {
        text-align: justify;
    }
    .fourth-section {
        width: auto;
    }
    .menu-cake-section {
        width: auto;
    }
    .contact-maploc-section {
        width: auto;
    }
    .contact-us-section {
        width: auto;
    }
}

@media screen and (max-width: 474px) {
    .section-text h1 {
        font-size: 2rem;
    }
    .section-title {
        font-size: 2rem;
    }
    .home-section-subtext {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 399px) {
    .section-text h1 {
        text-align: center;
    }
    .home-section-subtext {
        font-size: 0.8rem;
    }
    .footer-last-flex {
        flex-direction: column;
    }
    .footer-left {
        text-align: center;
    }
    .footer-right {
        text-align: center;
    }
}




